extends layout

block content
	h1 ToDo
	table.table
		thead
			tr.row
				th.col-sm-6 Task
				th.col-sm-2 Category
				th.col-sm-2 Created
				th.col-sm-2 Options
		tbody
	button.btn.btn-primary.float-right(type='button', data-toggle='modal', data-target='#CreateToDo')
		| New task

	#CreateToDo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='CreateToDoLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title Create a new Task
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.form-group
						label(for='taskName') What do you want to get finished
						input#taskName(type='text', class='form-control' placeholder='Name of task', name='taskName')
						input#catID(type='text', class='form-control', placeholder='category id', name='catID')
					.form-group
						label(for='dropdownCat') Select a category for your todo
						.dropdown
							button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								| Choose from the list below
							.dropdown-menu(aria-labelledby='dropdownMenuButton')
								each item in UserCategories
									a.dropdown-item(href=`JavaScript:selectItem(${item.id}, '${item.name}')`) !{item.name}
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button.btn.btn-primary(type='button') Create
	script.
		function selectItem(id, name)
		{
			$('#dropdownMenuButton').text(name);
			$('#catID').val(id);
		}
	