doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// Bootstrap CSS
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/login.css')
		style.
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
			}
			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		title ToDo List - Login
	body.text-center
	form.form-signin(method='POST' action='/login')
		if ErrorMessage
			.alert.alert-warning(style='text-align: left')
				b There was an error
				ul(style='margin-bottom: 0')
					each val in ErrorMessage
						li !{val.param}, !{val.msg}
		h1.h3.mb-3.font-weight-normal Please sign in
		label.sr-only(for='Username') Username
		input#Username.form-control(type='text', placeholder='Username', name='Username', autofocus='' value=sentUsername)
		label.sr-only(for='inputPassword') Password
		input#inputPassword.form-control(type='password', placeholder='Password', name='Password')
		br
		button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
		br
		a(href='/register') No account?
		// Optional JavaScript
		// jQuery first, then Popper.js, then Bootstrap JS
		script(src='/js/bootstrap.bundle.min.js')
